[project]
	description = Rackspace Private Cloud Offering based on OpenStack
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dave Wilde (d34dh0r53)
[access "refs/for/refs/*"]
	read = group user/Dave Wilde (d34dh0r53)
	push = group user/Dave Wilde (d34dh0r53)
	label-Code-Review = -2..+2 group user/Dave Wilde (d34dh0r53)
	label-Verified = -1..+1 group user/Dave Wilde (d34dh0r53)
	rebase = group user/Dave Wilde (d34dh0r53)
	removeReviewer = group user/Dave Wilde (d34dh0r53)
	submit = group user/Dave Wilde (d34dh0r53)
[access "refs/heads/*"]
	read = group user/Dave Wilde (d34dh0r53)
	create = group user/Dave Wilde (d34dh0r53)
	push = +force group user/Dave Wilde (d34dh0r53)
	pushMerge = group user/Dave Wilde (d34dh0r53)
[access "refs/tags/*"]
	push = +force group user/Dave Wilde (d34dh0r53)
	pushTag = group user/Dave Wilde (d34dh0r53)
	pushSignedTag = group user/Dave Wilde (d34dh0r53)
