# {{ ansible_managed }}

{% for log_file in beaver_log_files %}
{% if 'galera_server' in log_file %}
# Galera
[{{ log_file }}]
multiline_regex_before = (^([a-zA-Z]+\s{1,2}\d{1,2}\s(?:\d:{0,1}){6})\s(\S)+\s(\w+):\s[^0-9]+.*)
{% elif 'mysql-slow' in log_file %}
[{{ log_file }}]
multiline_regex_before = (^([a-zA-Z]+\s{1,2}\d{1,2}\s(?:\d:{0,1}){6})\s(\S)+\s(\w+):\s[A-Z]+.*)
multiline_regex_after = (^([a-zA-Z]+\s{1,2}\d{1,2}\s(?:\d:{0,1}){6})\s(\S)+\s(\w+):\s#.*)
{% elif 'cron' in log_file %}
[{{ log_file }}]
{% elif 'CRON' in log_file %}
[{{ log_file }}]
{% elif 'dhclient' in log_file %}
[{{ log_file }}]
{% elif 'kernel' in log_file %}
[{{ log_file }}]
{% elif 'ntpdate' in log_file %}
[{{ log_file }}]
{% elif 'rsyslogd' in log_file %}
[{{ log_file }}]
{% elif 'sshd' in log_file %}
[{{ log_file }}]
{% else %}
[{{ log_file }}]
multiline_regex_before = (^([a-zA-Z]+\s{1,2}\d{1,2}\s(?:\d:{0,1}){6})\s(\S)+\s(\w+):\sTRACE.*)
{% endif %}
{% endfor %}
